.notification-number{
    position: absolute;
    top:3px;
    left:15px;
    padding:0px 6px;
    background-color: red;
    border-radius: 100px;
    color: white;
    font-size: 12px;
}

.notify-item{
    font-size: 12px;
    cursor: pointer;
}
.notify-item:hover{
    background-color: #e9e9e99f;
}